.list-wrapper{
  height: 50vh;
  width: 100%;
  padding-left:50px;
  display:flex;
  flex-direction: column;
  
}
.errorP{
  font-size: 30px;
  color:white;
}
.characterList {
  margin:20px;
  padding:30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;  

  ul a{
   width: 200px;
  }
}

