.character{
  width: 100px;
  padding:10px;
  margin: 15px;
  margin-bottom: 20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color:rgba(128, 11, 179, 0.596);
  border-radius: 10px;
  box-shadow: 0 5px 4px 4px black;
  list-style-type: none;

  @media all and (min-width: 768px){
    width: 150px;
  }
  
  @media all and (min-width: 1200px){
    width: 200px;
  }
    
  img{
    height: 90px;
    width: 90px;
    border-radius: 50%;

    @media all and (min-width: 768px){
      height: 120px;
      width: 120px;
    }

    @media all and (min-width: 1200px){
      height: 170px;
      width: 170px;
    }
  }

  .details{
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    margin-top:10px; 
    padding:3px;   
    align-items: center;
    text-align: center;
    background-color: #a0eb26f8;
    border:2px solid black;
    color:rgb(71, 5, 158);
    font-size: 12px;

    @media all and (min-width: 768px){
     font-size: 14px;
    }
  }
}
.character:active {
  transform: translateY(4px);
  }
.character:hover {
  box-shadow: #a0eb26f8 0px 0px 13px 7px;
}