.character-detail{
  height: 100vh;
  width: 100%;
  z-index: 1;
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 25vh;
  left: 70vh;
  // background-color: rgba(245, 245, 245, 0.233);

  .card{
   width: 400px;
   height: 500px;
   padding-top: 10px;
   margin-top: 15px;
   background-color:lightblue;
   border-radius: 10px;
   box-shadow: 0 5px 4px 4px black;
   list-style-type: none;

   .details-wrapper{
     width: 100%;
     display:flex;
     flex-direction: column;
     align-items: center;
    }
    img{
     height: 200px;
     width: 200px;
     border-radius: 50%;
    }
  }
 .details{
   width: 100%;
   height: 260px;  
   margin:15px;    
   display:flex;
   flex-direction: column;
   align-items: center;
   background-color: rgba(168, 233, 15, 0.959);
   border:2px solid black;
   color:rgb(73, 40, 189);
  }
 .card-btn{
   margin-left:5px;
   display:inline-block;
   justify-content: center;
   .btn-back{
     background-color:rgba(168, 233, 15, 0.959);
     border-radius: 50%;
    }
  }
}