.header{
  display: flex;
  justify-content: center;
}
.image-Sanchez{
  height: 170px;
  width: 170px;
  margin-top: 35px;
}
.image-logo {
  width: 30%;
  margin-top: 10px;
}

.image-morty{
  height: 170px;
  width: 125px;
  margin-top: 35px;
}