.landing{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;

  .landing-img{
    width: 100%;
    height: 100vh;
    background-image: url("../../images/RickyMorty.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: increaseing;
    animation-duration: 5000ms;
    animation-iteration-count:1;
    animation-timing-function: linear; 
  }

  @keyframes increaseing {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1.5);
    }
  }

  .landing-button {
    z-index: 1;
    position: fixed;
    bottom:42vh;
    left:24vh;
    width: 90px;
    height: 30px;
    text-align: center;
    border-radius: 21px;
    text-transform: uppercase;
    margin-top: 38px;
    background-color: rgb(131, 225, 241);
    font-family: 'Josefin Sans', sans-serif;
    color:rgb(4, 8, 255);
    transform: rotate(70%, -70%);
    animation-name: increaseing;
    animation-duration: 3000ms;
    animation-iteration-count:1;
    animation-timing-function: linear; 
  
    @media all and(min-width:768px) {
      bottom: 40%;
      left:45%;
      font-size: 18px;
      width: 110px;
    }
    
    @media all and(min-width:1200px) {
      width: 110px;
      height: 40px;
      bottom: 38%;
      left: 47%;
      font-size: 20px;
    }
  }  
  
  @keyframes increaseing {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  .landing-button:hover {
    box-shadow: rgb(127, 218, 7) 0px 0px 7px 7px;
    animation-name: spin;
    animation-duration: 2500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    cursor: pointer;      
  }

  @keyframes spin {
    from {
      transform:rotate(0deg);
    }
    to {
      transform:rotate(360deg);
    }
  }
}


